.container{
  .time{
    margin: 21px 0 0 24px;
    height: 30px;
  }
  .icons{
    display: flex;
    margin: 20px 0 0 229px;
    height: 30px;
  }
  .iphone{
    width: 600px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -450px;
  }
  .start_form{
    background-color: #1F5460;
    position: absolute;
    z-index: 0;
    border-radius: 5%;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -435px;
    width: 400px;
    height: 840px;
    &__flex{
      display: flex;
    }
    &__head{
      margin: 420px 0 0 30px;
      letter-spacing: 1.4px;
      font-size: 50px;
      font-weight: 600;
      color: white;
    }
    &__bot{
      color: white;
      font-size: 15px;
      letter-spacing: 0.7px;
      font-weight: 200;
      margin: 25px 0 0 32px;
    }
    &__login{
      margin: 30px 0 0 22px;
    }
  }
  .logo{
    position: absolute;
    z-index: 1;
    width: 400px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -370px;
  }
}
.iphone_login{
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  margin: 220px 0 0 -168px;

}
.iphone_signup{
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  margin: 300px 0 0 -167px;
}
